.react-chatbot-kit-user-chat-message {
    font-size: 16px!important;
}
.react-chatbot-kit-chat-input {
    font-size: 16px!important;
}
.react-chatbot-kit-chat-container {
    border-radius: 20px;
}
@media (min-width: 768px) {
    .react-chatbot-kit-chat-container {
        width: 350px !important;
    }
}
@media (max-width: 767px) {
    .react-chatbot-kit-chat-container {
        width: 300px !important;
    }
}

@media (min-width: 1px) and (max-width: 766px) {
    .react-chatbot-kit-chat-container {
        display: none !important;
    }
}
